doctype html
html(lang='ru')
	head
		title Рекомендасьон
		link(rel="stylesheet" href="./css/main.css")
		link(rel="icon" href="./images/icon.svg")
	body
		.movie
			header.movie__header
				a(href="./index.html" class="movie__logo")
					img(src="./images/logo.svg" alt="logo")
				button(class="movie__button") Что посмотреть?
			.movie__container
				.movie__sidebar
					.movie__poster
						img(src="" class="movie__poster-img")
						.movie__poster-btn
							img(src="./images/play.svg")

				.movie__main
					.movie__title-container
						h1.movie__title
						span.movie__rating
					.movie__realese-container
						p.movie__realese
					ul.movie__categories-container
					.movie__about-container
						h3.movie__about-title
					.movie__description-container
						p.movie__description 

	script(src="./script/main.js")